//variables
$scheme-invert: hsl(0, 0%, 4%);
$shadow: (
  0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
  0 0px 0 1px rgba($scheme-invert, 0.02)
);

.column {
  border-radius: 15px;
  box-shadow: $shadow;
  background-color: white;
}

#nav {
  grid-area: nav;
  background-color: transparent;
  height: 50px;
  margin-bottom: 20px;
  box-shadow: none;
}
#a {
  grid-area: a;
  height: 100px;
}
#b {
  grid-area: b;
  height: 70px;
  margin-top: 20px;
}
#c {
  grid-area: c;
  height: 232px;
  margin-top: 20px;
}
#d {
  grid-area: d;
  height: 442px;
}

#grid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: calc(50%-20px) calc(50%-20px);
  grid-template-areas:
    "nav nav"
    "a d"
    "b d"
    "c d";
}

@media (max-width: 560px) {
  #c {
    grid-area: c;
    height: 282px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #grid {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 100%;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    }
}
