<div class="hero-main center" style="padding: 2rem;">
  <div id="grid" style="width: 800px; ">

    <div id="nav" class="column center">
      <app-nav></app-nav>
    </div>

    <div id="a" class="column center">
      <p>Avatar, nickname</p>
    </div>

    <div id="b" class="column center">
      <p>Key itself</p>
    </div>

    <div id="c" class="column center">
      <p>Key expiration</p>
    </div>

    <div id="d" class="column center">
      <p>bot action buttons</p>
    </div>

  </div>
</div>
