<main class="hero-foot center" style="padding: 1rem; width: 100%" >
  <div id="grid">

    <div id="a" class="center-column is-one-quater" style="border-right: 1px solid black;">
      <p class="title center">
        <i class="fab fa-vk" style="height: 1.25em;"></i>
      </p>
    </div>

    <div id="b" class="center-column" style="border-right: 1px solid black; border-left: 1px solid black;">
      <p class="title center">
        <i class="fab fa-discord" style="height: 1.25em;"></i>
      </p>
    </div>

    <div id="c" class="center-column center" style="border-left: 1px solid black;">
      <a class="button">
        Dashboard
      </a>
    </div>

      <div id="d" class="center-column center is-multiline">

        <div id="footerDiv">
          <div id="footerTextDiv">
            <span class="boldFooter">Degosh.</span>

            <span class="normalFooter">
              Ready To Cook. Design by
            </span>

            <span class="boldFooter">
              Yasha.
            </span>

            <span class="normalFooter">
              Copyright©2021. All Rights Reserved. Developod in Russia. For contact, bug report, threats,
              blackmail and spam messages please address
            </span>

            <span class="boldFooter">
              degosh@degosh.com
            </span>
          </div>
        </div>
      </div>

  </div>
</main>
